<html>
  <head>
    <title>Video Streaming Demonstration for Mobile</title>
  </head>
  <body>
    <h1>Mobile Camera Stream</h1>

    <ul>
      <li>Click <a href="/videostreaming/webcam">here</a> for Webcam Streaming</li>
    </ul>

    <form method="post">
        <p><input type="submit" name="submit" value="Start"> <input type="submit" name="submit" value="Stop"> </p>
        <p><input type="submit" name="submit" value="Start Recording"> <input type="submit" name="submit" value="Stop Recording"></p>
         <p><input type="submit" name="submit" value="Auto"> <input type="submit" name="submit" value="720p"> <input type="submit" name="submit" value="480p"> <input type="submit" name="submit" value="360p"> <input type="submit" name="submit" value="240p"></p>
    </form>
    <img src="{{ url_for('video_feed_mobile') }}">
  </body>
</html>
