<html>
  <head>
    <title>Video Streaming Demonstration for Webcam</title>
  </head>
  <body>
    <h1>Webcam Stream</h1>
    <ul>
      <li>Click <a href="/mobile">here</a> for Mobile Camera Streaming</li> 
    </ul>
    <form method="post">
        <p><input type="submit" name="submit" value="Start"> <input type="submit" name="submit" value="Stop"></p>
        <p><input type="submit" name="submit" value="Start Recording"> <input type="submit" name="submit" value="Stop Recording"></p>  
        <p><input type="submit" name="submit" value="Auto"> <input type="submit" name="submit" value="720p"> <input type="submit" name="submit" value="480p"> <input type="submit" name="submit" value="360p"> <input type="submit" name="submit" value="240p"></p>     
    </form>
    <img src="{{ url_for('video_feed_web') }}">
  </body>
</html>
